<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="token_ConsumerKey" value="dYg2qg1wqYcmBfCFMCUtRIpxY" />
    <add key="token_ConsumerSecret" value="Tmr7eokLrfAipwxOs3ihBkuaaFAj4zDVywPWWc3M547BiQc5Uo" />
    <add key="token_AccessToken" value="3028752503-npZZWGE6OwBO9DwBXp7q0iOyXn9eeDYL977XLB5" />
    <add key="token_AccessTokenSecret" value="lXvCbAMD0bjKQGlQwPu62biuKOD8TFqXF77a2Dq8FKAWO" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>